@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @keyframes fade {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .animate-fade-in {
        opacity: 0;
        animation: fade 200ms linear 1;
        animation-fill-mode: both;
    }
}

@layer components {
    .text-link {
        @apply text-cornflower-normal transition hover:text-cornflower-light;
    }

    .button {
        @apply flex h-9 items-center justify-center rounded-md border border-white px-3 py-2 text-white transition-all hover:border-opacity-0 hover:bg-aqua-dark sm:h-10 sm:px-4;
    }
}
