@import 'tailwindcss';

@theme {
    --color-aqua-normal: #77d5af;
    --color-aqua-dark: #6bc29f;
    --font-nunito: 'Nunito', sans-serif;
}

@layer base {
    * {
        @apply font-nunito tracking-[0.00625em] text-white;
    }

    .glow-aqua {
        --color-glow-primary: var(--color-aqua-normal);
        --color-glow-bloom: var(--color-aqua-dark);
        --color-glow-bloom-secondary: var(--color-aqua-normal);
    }

    .glow-purple {
        --color-glow-primary: var(--color-purple-400);
        --color-glow-bloom: var(--color-indigo-500);
        --color-glow-bloom-secondary: var(--color-fuchsia-500);
    }

    @keyframes fade {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .animate-fade-in {
        opacity: 0;
        animation: fade 200ms linear 1;
        animation-fill-mode: both;
    }
}

@layer utilities {
    .border-glow {
        @apply rounded-lg border-3 border-[color:var(--color-glow-primary)];
        box-shadow:
            0 0 5px var(--color-glow-bloom),
            inset 0 0 5px var(--color-glow-bloom),
            0 0 10px var(--color-glow-bloom),
            inset 0 0 10px var(--color-glow-bloom),
            0 0 10px var(--color-glow-bloom-secondary),
            inset 0 0 10px var(--color-glow-bloom-secondary);
    }

    .bg-glow {
        @apply rounded-lg bg-[color:var(--color-glow-primary)];
        box-shadow:
            0 0 10px var(--color-glow-primary),
            0 0 10px var(--color-glow-bloom),
            0 0 20px var(--color-glow-bloom),
            0 0 10px var(--color-glow-bloom-secondary);
    }

    .filter-glow {
        filter: drop-shadow(0 0 5px var(--color-glow-bloom))
            drop-shadow(0 0 10px var(--color-glow-bloom))
            drop-shadow(0 0 10px var(--color-glow-bloom-secondary));
    }

    .text-glow {
        text-shadow:
            0 0 10px var(--color-glow-primary),
            0 0 10px var(--color-glow-bloom),
            0 0 20px var(--color-glow-bloom),
            0 0 10px var(--color-glow-bloom-secondary);
    }

    .border-glow {
        border-shadow:
            0 0 2px var(--color-glow-bloom)
            0 0 5px var(--color-glow-bloom)
            0 0 5px var(--color-glow-bloom-secondary);
    }
}

@layer components {
    .button {
        @apply border border-white rounded-lg py-1 px-1.5;
    }
}