@import 'tailwindcss';

@plugin '@iconify/tailwind4';

@theme {
    --color-primary-400: #77d5af;
    --color-primary-500: #6bc29f;
    --color-primary-600: #60a192;
    --color-primary-700: #53827e;

    --font-nunito: 'Nunito';
}

html {
    @apply bg-gray-800;
}

body {
    @apply font-nunito bg-gradient-to-br from-blue-950/40 via-gray-800 to-blue-950/40 bg-contain leading-5.5 text-white select-none;
}

button,
a {
    @apply cursor-pointer;
}
