@import 'tailwindcss';

@plugin '@iconify/tailwind4';

@theme {
    --color-primary-400: #77d5af;
    --color-primary-500: #6bc29f;
    --color-primary-600: #60a192;
    --color-primary-700: #53827e;

    --font-nunito: 'Nunito', sans-serif;

    --breakpoint-xs: 31.25rem;
    --breakpoint-lg: 68.75rem;

    --text-md: 1.0625rem;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply font-nunito overflow-x-hidden bg-gradient-to-r from-blue-950/40 via-gray-800 to-blue-950/40 bg-contain leading-5.5 text-white select-none md:bg-gradient-to-br;
    }

    button,
    a {
        @apply cursor-pointer;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 1;
    }
}

@utility fade-in {
    animation: 250ms ease-in-out fade-in both;
}

@utility outlined-actionable {
    @apply border-primary-500 cursor-pointer border-2 bg-teal-300/5 transition-[colors] hover:bg-teal-400/10;
}

@utility text-link {
    @apply hover:decoration-primary-400 hover:text-primary-400 text-teal-100 decoration-teal-100/0 transition-colors hover:underline;
}

/* Vue transitions ---- */
.scale-enter-active,
.scale-leave-active {
    @apply transition ease-in-out;
}
.scale-enter-from,
.scale-leave-to {
    @apply scale-90 opacity-0;
}
