@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIntroduction {
    0% {
      opacity: .05;
      transform: scale(.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
     }
  }
  
  /* Make page fade in on load */
  main {
    animation: fadeIntroduction ease .75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .fin {
    opacity: 0;
    animation: fadeIntroduction ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .fin-0 {
    animation-delay: .2s;
  }
  
  .fin-1 {
    animation-delay: .3s;
  }
  
  .fin-2 {
    animation-delay: .4s;
  }
  
  .fin-3 {
    animation-delay: .5s;
  }
  
  .fin-4 {
    animation-delay: .6s;
  }
  
  .fin-5 {
    animation-delay: .7s;
  }
  
  .fin-6 {
    animation-delay: .8s;
  }
  
  .fin-7 {
    animation-delay: .9s;
  }
  
  .fin-8 {
    animation-delay: 1s;
  }
  
  .fin-9 {
    animation-delay: 1.1s;
  }
  
  .fin-10 {
    animation-delay: 1.2s;
  }
  
  .fin-11 {
    animation-delay: 1.3s;
  }
  
  .fin-12 {
    animation-delay: 1.4s;
  }
  
  /* Custom scrollbar CSS */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #23272A;
  }
  
  ::-webkit-scrollbar-button {
    width: 18px;
    height: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border: 1px solid #4b4b4b;
    border-radius: 69px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #3b3b3b;
  }
  
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 1px solid #4b4b4b;
    border-radius: 45px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  
  ::-webkit-scrollbar-track:active {
    background: #4b4b4b;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
